<!DOCTYPE html>
<html>
	<head>
		<%= stylesheet_link_tag "menu" %>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
		<title>Acceuil</title>
	</head>
	
	<body>
		<div class="Global">
			<%= image_tag "logoiut.jpg" %> 
		</div>
		
		<ul class="semiopaquemenu">
			<li><%= link_to "Acceuil",root_path%></li>
			<li><%= link_to "Saisir Note",new_note_path%></li>
			<li><a href="">Voir Carnet</a></li>
			<li><a href="">Voir Graphe</a></li>
			<li><a href="monCompte.html">Mon compte</a></li>
		</ul>
		
		<div class="bottombar">
		</div>
		
		<div class="Global">
			<div class="Conteneur">
				<div class="Connexion">
					<form>
						<input type="text" name="login" placeholder="login"/>
						<input type="password" name="password" placeholder="password"/>
						<input type="submit" name="connexion" value="Se connecter"/>
						</br>
						<%= link_to "Nouvel Utilisateur", new_utilisateur_path%>
				</div>
				<div style="clear:both;"></div>
			</div>
		</div>
	</body>
</html>